mixin footer
	|Version 1.0.3
	br
	|Made with love by ZeroDragon 
	a(href="https://telegram.me/zerodragon",target="_blank") [telegram]
	|  
	a(href="https://twitter.com/zerodragon",target="_blank") [twitter]
//- html(manifest="/appcache.manifest")
html
	head

		title Pokedex-Go

		meta(name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 minimal-ui")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")

		link(rel="apple-touch-icon" href="/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")

		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet',type='text/css')
		link(rel="stylesheet",type="text/css",href="styles/main.css")
		script(src="/scripts/jquery.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js")
		script(src="/scripts/main.js")

	body#pokeapp
		.cover#cover
			.contenedor
				.line1
				.line2
				.screen {{time}}
				.triangle
				.pokebola(v-on:click="hideCover"): .inner
					.bottom
					.line3
					.whiteCircle
					.blackCircle
				.center.footer
					+footer
		.sideTrigger(v-on:click="toggleSidePokemons",style="right:{{sidePokemonsWidth}}px;")
		.sidePokemons(style="width:{{sidePokemonsWidth}}px;")
			.ordenador(v-on:click="pokemonOrder") By {{orden}}
			.scroller
				.pokSearch(v-for="pokemon in pokemons | orderBy orden")
					.pokemon(v-on:click="addpkmn(pokemon.Number)")
						.image(class="pkmn{{pokemon.Number}}")
						.pkname {{pokemon.Number}} {{pokemon.Name}}
		.cog(v-on:click="toggleSettings"): img(src="/images/cog.png")
		.settings#settings
			table(cellpadding="0",cellspacing="0")
				tr
					td(colspan="2").title Settings
				tr: td(colspan="").spacer.big
				tr
					td: .label Keep last pokemon
					td
						.toggleHolder(v-on:click="toggleSaveData"): .toggle(class="{{isSaving?'on':'off'}}")
			.close(v-on:click="toggleSettings") X

		.pokemons
			.pokemon(v-for="pokemon in showPkmns")
				table(cellpadding="0",cellspacing="0")
					tr
						td(colspan="2")
							.image(class="pkmn{{pokemon.Number}}")
							.type.center
								|{{pokemon.Number}} {{pokemon.Name}}
								br
								|Max CP: {{addCommas(Math.floor(pokemon.maxCP))}}
								br
								.pkType(v-for="type in pokemon.types",class="{{type}}") {{type}}
					tr: td(colspan="2").spacer
					tr
						tr: td(colspan="2").info
							.name.alt Weaknesses
							.center
								.pkType(v-for="(type,value) in pokemon.weakRes",v-if="value>1",class="{{type}}") {{type}}
					tr: td(colspan="2").spacer
					tr
						tr: td(colspan="2").info
							.name.alt Resistances
							.center
								.pkType(v-for="(type,value) in pokemon.weakRes",v-if="value<1",class="{{type}}") {{type}}

					tr: td(colspan="2").spacer
					tr
						tr: td(colspan="2").info
							.name.alt Attack types
							.center
								.pkType(v-for="move in pokemon.attackingChart", class="{{move.type}}") {{move.type}}

					
					tr(v-if="pokemon['Next evolution(s)'].length > 0"): td(colspan="2").spacer
					tr(v-if="pokemon['Next evolution(s)'].length > 0"): td(colspan="2").info
						.name.alt Calculate evolution CP
						.spacer
						table(cellpadding="0",cellspacing="0")
							tr
								td
									.calcInput
										input(type="number",min="1",placeholder="Current CP",class="value{{pokemon.Number}}").numberCalc
										.calc(onClick="calculate('{{pokemon.Number}}')") Go

						table(cellpadding="0",cellspacing="0")
							tr
								td.center
									.pokemon.inner(v-for="(k,pok) in pokemon['Next evolution(s)']")
										.image(class="pkmn{{pok.Number}}")
										.center {{pok.Number}} {{pok.Name}}
										.center Max CP: {{addCommas(Math.floor(getPkmn(pok.Number,0).maxCP))}}
										.center
											|<b>{{getPkmn(pokemon.Number,k)['Next Evolution Requirements'].Amount}}</b> 
											| {{getPkmn(pokemon.Number,k)['Next Evolution Requirements'].Name}}
										.center(class="CPResult{{pok.Number}}")
						.spacer

		.bk(v-show="showPkmns.length == 0")
			.arrow: img(src="/images/arrow.png")
			.pkball.big
			.center.footer.dark
				+footer