@import "app/assets/styles/pokemons.styl"

body
	font-family Roboto, Sans-serif
	background-color #fafaff
	margin 0
	color #446
	*
		box-sizing border-box
	.float-right
		float right
	.center
		text-align center
	.footer
		position absolute
		bottom 20px
		font-size 11px
		color #fff
		white-space	nowrap
		a
			color #fff
		left 50%
		-webit-transform translateX(-50%)
		-moz-transform translateX(-50%)
		transform translateX(-50%)

.cover
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color #e57373
	z-index 2
	.contenedor
		position relative
		width 100%
		height 100%
		overflow hidden
	.triangle
		position absolute
		top 84px
		right 0
		width 0
		height 0
		border-top 30px solid transparent
		border-bottom 30px solid transparent
		border-right 30px solid #fff
	.line1
		position absolute
		top calc(9% + 49px)
		right 0
		border-top 2px solid #fff
		border-left 2px solid #fff
		border-top-left-radius 8px
		width 95%
		height 75%
	.line2
		position absolute
		top calc(75% + 9% + 49px)
		left 0
		width calc(5% + 2px)
		height 5%
		border-right 2px solid #fff
		border-bottom 2px solid #fff
		border-bottom-right-radius 8px
	.pokebola
		width 200px
		height 200px
		border-radius 50%
		position absolute
		border 4px solid #000
		bottom 20%
		left calc(50% - 100px)
		overflow hidden

	.pokebola
		cursor pointer
		.inner
			position relative
			width 100%
			height 100%

			.bottom
				position absolute
				width 100%
				height 50%
				bottom 0
				left 0
				background-color #fff
				
				border-bottom-left-radius 50% 100%
				border-bottom-right-radius 50% 100%
				-moz-transform-origin 50% 0
				-webkit-transform-origin 50% 0
				transform-origin 50% 0
				
			.line3
				position absolute
				bottom calc(50% - 3px)
				left 0
				width 100%
				height 1px
				border-top 6px solid #000

			.whiteCircle, .blackCircle
				position absolute
				top 50%
				left 50%
				border-radius 50%
				-webit-transform translate(-50%,-50%)
				-moz-transform translate(-50%,-50%)
				transform translate(-50%,-50%)
			.whiteCircle
				width 30%
				height 30%
				background-color #fff
				border 4px solid #000
			.blackCircle
				border 2px solid #000
				width 20%
				height 20%
	.screen
		position absolute
		background-color #fff
		width 300px
		margin auto
		left 50%
		top 9%
		text-align center
		font-size 50px
		line-height 100px
		letter-spacing 2px
		border-radius 4px
		-webit-transform translateX(-50%)
		-moz-transform translateX(-50%)
		transform translateX(-50%)
		
.sideTrigger
	position fixed
	top 0
	right 0
	height 100%
	width 1px
	background-color #e57373
	z-index 1
	cursor pointer
	&:before
		position absolute
		top 84px
		left -30px
		content ' '
		width 0
		height 0
		border-top 30px solid transparent
		border-bottom 30px solid transparent
		border-right 30px solid #e57373
.sidePokemons
	position fixed
	top 0
	right 0
	height 100%
	width 0
	overflow hidden
	z-index 1
	background-color #fff
	.ordenador
		text-align center
		background-color #2196F3
		color #fff
		padding 10px 0
		font-size 14px
		font-weight 300
		text-transform uppercase
		cursor pointer
		white-space nowrap
	.scroller
		overflow-y scroll
		-webkit-overflow-scrolling touch
		width 100%
		height 93%
		.pokemon
			cursor pointer
		.image
			margin auto
		.pkname
			width 100%
			white-space nowrap
			overflow hidden
			padding-left 6px
			font-size 12px
.pkball
	background-image url("/images/pokeball.png")
	background-size 100%
	display inline-block
	vertical-align top
	&.small
		width 20px
		height 20px
	&.big
		width 300px
		height 300px
		position absolute
		top 50%
		left 50%
		-webit-transform translate(-50%,-50%)
		-moz-transform translate(-50%,-50%)
		transform translate(-50%,-50%)
		opacity 0.4
.bk
	position relative
	height 600px
	-webkit-filter grayscale(100%)
	-moz-filter grayscale(100%)
	filter grayscale(100%)

.pkType
	border 1px solid #000
	border-radius 4px
	text-align center
	padding 4px
	font-weight 900
	color #fff
	text-shadow 2px 2px #666
	text-transform uppercase
	letter-spacing 1px
	margin 4px 5px
	display inline-block
	width 100px

	&.Bug
		background-color #88960e
	&.Dark
		background-color #3c2d23
	&.Dragon
		background-color #4e3ba4
	&.Electric
		background-color #e79302
	&.Fairy
		background-color #e08ee0
	&.Fighting
		background-color #5f2311
	&.Fire
		background-color #c72100
	&.Flying
		background-color #5d73d4
	&.Ghost
		background-color #454593
	&.Grass
		background-color #389a02
	&.Ground
		background-color #ad8c33
	&.Ice
		background-color #6dd3f5
	&.Normal
		background-color #ada594
	&.Poison
		background-color #6b246e
	&.Psychic
		background-color #dc3165
	&.Rock
		background-color #9e863d
	&.Steel
		background-color #8e8e9f
	&.Water
		background-color #0c67c2
	

.pokemons
	.pokemon
		margin 0 10px 5px 10px
		padding-bottom 5px
		table
			width 100%
		.conImage
			vertical-align middle
		.image
			margin auto
			position relative
			z-index -1
			.delete
				position absolute
				top 0
				left 0
		.info
			border 1px solid #000
			border-radius 4px
			width 80%
			vertical-align top
			.name
				padding 4px
				background-color #e27073
				color #fff
				border-bottom 4px solid #f699a1
				&.alt
					background-color #70a8e2
					border-bottom 4px solid #99d4f6
			.type
				padding 4px
		.spacer
			width 100%
			height 5px
		.boxi
			border 1px solid #000
			border-radius 4px
		.pkSize
			td
				text-align center
				padding 4px 0
			td.conborder
				border-bottom 2px dashed #ccc
			
.pokemon.inner
	position relative
	border none
	display inline-block

.calcInput
	font-size 0
	padding 0 3px
.numberCalc, .calc
	height 30px
	border-radius 4px
	display inline-block
	font-size 20px
	line-height 30px
	vertical-align middle
	border none
.numberCalc
	-webkit-appearance none
	-moz-appearance    none
	appearance         none
	width 90%
	padding 0 5px
	outline none
	background-color #fff
	border 1px solid #ccc
.calc
	width 9%
	background-color #70d089
	text-align center
	margin-left 1%
	cursor pointer
	&:hover
		background-color darken(#70d089,10)
		color #fff