@import "app/assets/styles/pokemons.styl"

body
	font-family Roboto, Sans-serif
	background-color #fafaff
	margin 0
	color #446
	*
		box-sizing border-box
	.float-right
		float right
	.center
		text-align center
	.footer
		position absolute
		bottom 20px
		font-size 11px
		color #fff
		white-space	nowrap
		a
			color inherit
		&.dark
			color #446
		left 50%
		-webit-transform translateX(-50%)
		-moz-transform translateX(-50%)
		transform translateX(-50%)
	.spacer
		width 100%
		height 5px
		&.big
			height 50px

@keyframes bounceInRight {
	0% {opacity:0;transform:translateX(0);}
	30% {opacity:1;transform:translateX(-30px);}
	70% {opacity:1;transform:translateX(10px);}
	100% {opacity:0;transform:translateX(0);}
}

.arrow
	position absolute
	top 100px
	right 50px
	img
		opacity 0
		width 60px
		-webkit-animation 3s infinite
		-webkit-animation-name bounceInRight

.cover
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color #e57373
	z-index 2
	.contenedor
		position relative
		width 100%
		height 100%
		overflow hidden
	.triangle
		position absolute
		top 84px
		right 0
		width 0
		height 0
		border-top 30px solid transparent
		border-bottom 30px solid transparent
		border-right 30px solid #fff
	.line1
		position absolute
		top calc(9% + 49px)
		right 0
		border-top 2px solid #fff
		border-left 2px solid #fff
		border-top-left-radius 8px
		width 95%
		height 75%
	.line2
		position absolute
		top calc(75% + 9% + 49px)
		left 0
		width calc(5% + 2px)
		height 5%
		border-right 2px solid #fff
		border-bottom 2px solid #fff
		border-bottom-right-radius 8px
	.pokebola
		width 200px
		height 200px
		border-radius 50%
		position absolute
		border 4px solid #000
		bottom 20%
		left calc(50% - 100px)
		overflow hidden

	.pokebola
		cursor pointer
		.inner
			position relative
			width 100%
			height 100%

			.bottom
				position absolute
				width 100%
				height 50%
				bottom 0
				left 0
				background-color #fff
				
				border-bottom-left-radius 50% 100%
				border-bottom-right-radius 50% 100%
				-moz-transform-origin 50% 0
				-webkit-transform-origin 50% 0
				transform-origin 50% 0
				
			.line3
				position absolute
				bottom calc(50% - 3px)
				left 0
				width 100%
				height 1px
				border-top 6px solid #000

			.whiteCircle, .blackCircle
				position absolute
				top 50%
				left 50%
				border-radius 50%
				-webit-transform translate(-50%,-50%)
				-moz-transform translate(-50%,-50%)
				transform translate(-50%,-50%)
			.whiteCircle
				width 30%
				height 30%
				background-color #fff
				border 4px solid #000
			.blackCircle
				border 2px solid #000
				width 20%
				height 20%
	.screen
		position absolute
		background-color #fff
		width 300px
		margin auto
		left 50%
		top 9%
		text-align center
		font-size 50px
		line-height 100px
		letter-spacing 2px
		border-radius 4px
		-webit-transform translateX(-50%)
		-moz-transform translateX(-50%)
		transform translateX(-50%)
		
.sideTrigger
	position fixed
	top 0
	right 0
	height 100%
	width 1px
	background-color #555
	z-index 1
	cursor pointer
	.button
		position absolute
		width 47px
		height 94px
		border-top-left-radius 94px
		border-bottom-left-radius 94px
		top 68px
		left -47px
		border 6px solid #555
		border-right none
		.inner1, .inner2, .inner3, .inner4, .inner5
			position absolute
			border-top-left-radius 70px
			border-bottom-left-radius 70px
			right 0
		.inner1
			width 35px
			height 70px
			top calc(50% - 35px)
			background-color #555
		.inner2
			width 24px
			height 48px
			top calc(50% - 24px)
			background-color #000
		.inner3
			width 20px
			height 40px
			top calc(50% - 20px)
			background-color #008acc
		.inner4
			width 15px
			height 30px
			top calc(50% - 15px)
			background-color #00adff
		.inner5
			width 15px
			height 15px
			top calc(50% - 10px)
			border-radius 50%
			background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(0,173,255,0.28) 72%, rgba(0,173,255,0) 100%);
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(0,173,255,0.28) 72%,rgba(0,173,255,0) 100%);
			background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(0,173,255,0.28) 72%,rgba(0,173,255,0) 100%);

.sidePokemons
	position fixed
	top 0
	right 0
	height 100%
	width 0
	overflow hidden
	z-index 1
	background-color #fff
	.ordenador
		text-align center
		background-color #2196F3
		color #fff
		padding 10px 0
		font-size 14px
		font-weight 300
		text-transform uppercase
		cursor pointer
		white-space nowrap
	.scroller
		overflow-y scroll
		-webkit-overflow-scrolling touch
		width 100%
		height 93%
		.pokemon
			cursor pointer
		.image
			margin auto
		.pkname
			width 100%
			white-space nowrap
			overflow hidden
			padding-left 6px
			font-size 12px
.pkball
	background-image url("/images/pokeball.png")
	background-size 100%
	display inline-block
	vertical-align top
	&.small
		width 20px
		height 20px
	&.big
		width 300px
		height 300px
		position absolute
		top 50%
		left 50%
		-webit-transform translate(-50%,-50%)
		-moz-transform translate(-50%,-50%)
		transform translate(-50%,-50%)
		opacity 0.4
.bk
	position relative
	height 600px
	-webkit-filter grayscale(100%)
	-moz-filter grayscale(100%)
	filter grayscale(100%)
	z-index -1

.pkType
	border 1px solid #000
	border-radius 4px
	text-align center
	padding 4px
	font-weight 900
	color #fff
	text-shadow 2px 2px #666
	text-transform uppercase
	letter-spacing 1px
	margin 4px 5px
	display inline-block
	width 100px

	&.Bug
		background-color #88960e
	&.Dark
		background-color #3c2d23
	&.Dragon
		background-color #4e3ba4
	&.Electric
		background-color #e79302
	&.Fairy
		background-color #e08ee0
	&.Fighting
		background-color #5f2311
	&.Fire
		background-color #c72100
	&.Flying
		background-color #5d73d4
	&.Ghost
		background-color #454593
	&.Grass
		background-color #389a02
	&.Ground
		background-color #ad8c33
	&.Ice
		background-color #6dd3f5
	&.Normal
		background-color #ada594
	&.Poison
		background-color #6b246e
	&.Psychic
		background-color #dc3165
	&.Rock
		background-color #9e863d
	&.Steel
		background-color #8e8e9f
	&.Water
		background-color #0c67c2

.cog
	position absolute
	top 40px
	left 40px
	cursor pointer
	img
		width 30px
.settings
	position fixed
	display none
	padding 30px 50px
	top 0
	left 0
	width 100%
	height 100%
	background linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
	z-index 2
	overflow auto
	table
		width 100%
		color #fff
		font-size 20px
	.title
		text-align center
		font-size 30px
	.label
		width 100%
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
	.close
		width 40px
		height 40px
		font-size 25px
		line-height 39px
		border 2px solid #fff
		border-radius 50%
		color #fff
		text-align center
		position absolute
		bottom 40px
		left calc(50% - 20px)
		padding-left 1px
		cursor pointer
	.toggleHolder
		width 40px
		height 20px
		border 2px solid #fff
		border-radius 10px
		position relative
		overflow hidden
		cursor pointer
		.toggle
			position absolute
			width 20px
			height 20px
			top -2
			border-radius 50%
			&.off
				left -2
				background-color #aaa
			&.on
				right -2
				background-color #fff
		

.pokemons
	.pokemon
		margin 0 10px 5px 10px
		padding-bottom 5px
		table
			width 100%
		.conImage
			vertical-align middle
		.image
			margin auto
			position relative
			z-index -1
			.delete
				position absolute
				top 0
				left 0
		.info
			border 1px solid #000
			border-radius 4px
			width 80%
			vertical-align top
			.name
				padding 4px
				background-color #e27073
				color #fff
				border-bottom 4px solid #f699a1
				&.alt
					background-color #70a8e2
					border-bottom 4px solid #99d4f6
			.type
				padding 4px
		.boxi
			border 1px solid #000
			border-radius 4px
		.pkSize
			td
				text-align center
				padding 4px 0
			td.conborder
				border-bottom 2px dashed #ccc
			
.pokemon.inner
	position relative
	border none
	display inline-block

.calcInput
	font-size 0
	padding 0 3px
.numberCalc, .calc
	height 30px
	border-radius 4px
	display inline-block
	font-size 20px
	line-height 30px
	vertical-align middle
	border none
.numberCalc
	-webkit-appearance none
	-moz-appearance    none
	appearance         none
	width 90%
	padding 0 5px
	outline none
	background-color #fff
	border 1px solid #ccc
.calc
	width 9%
	background-color #70d089
	text-align center
	margin-left 1%
	cursor pointer
	&:hover
		background-color darken(#70d089,10)
		color #fff