.pokemon
	.image
		background-image url("/images/pokemons2.png")
		width 127px
		height 127px
		&.pkmn001
			background-position -1px -1px
		&.pkmn002
			background-position -129px -1px
		&.pkmn003
			background-position -257px -1px
		&.pkmn004
			background-position -385px -1px
		&.pkmn005
			background-position -513px -1px
		&.pkmn006
			background-position -641px -1px
		&.pkmn007
			background-position -769px -1px
		&.pkmn008
			background-position -897px -1px
		&.pkmn009
			background-position -1025px -1px
		&.pkmn010
			background-position -1153px -1px
		&.pkmn011
			background-position -1px -129px
		&.pkmn012
			background-position -129px -129px
		&.pkmn013
			background-position -257px -129px
		&.pkmn014
			background-position -385px -129px
		&.pkmn015
			background-position -513px -129px
		&.pkmn016
			background-position -641px -129px
		&.pkmn017
			background-position -769px -129px
		&.pkmn018
			background-position -897px -129px
		&.pkmn019
			background-position -1025px -129px
		&.pkmn020
			background-position -1153px -129px
		&.pkmn021
			background-position -1px -257px
		&.pkmn022
			background-position -129px -257px
		&.pkmn023
			background-position -257px -257px
		&.pkmn024
			background-position -385px -257px
		&.pkmn025
			background-position -513px -257px
		&.pkmn026
			background-position -641px -257px
		&.pkmn027
			background-position -769px -257px
		&.pkmn028
			background-position -897px -257px
		&.pkmn029
			background-position -1025px -257px
		&.pkmn030
			background-position -1153px -257px
		&.pkmn031
			background-position -1px -385px
		&.pkmn032
			background-position -129px -385px
		&.pkmn033
			background-position -257px -385px
		&.pkmn034
			background-position -385px -385px
		&.pkmn035
			background-position -513px -385px
		&.pkmn036
			background-position -641px -385px
		&.pkmn037
			background-position -769px -385px
		&.pkmn038
			background-position -897px -385px
		&.pkmn039
			background-position -1025px -385px
		&.pkmn040
			background-position -1153px -385px
		&.pkmn041
			background-position -1px -513px
		&.pkmn042
			background-position -129px -513px
		&.pkmn043
			background-position -257px -513px
		&.pkmn044
			background-position -385px -513px
		&.pkmn045
			background-position -513px -513px
		&.pkmn046
			background-position -641px -513px
		&.pkmn047
			background-position -769px -513px
		&.pkmn048
			background-position -897px -513px
		&.pkmn049
			background-position -1025px -513px
		&.pkmn050
			background-position -1153px -513px
		&.pkmn051
			background-position -1px -641px
		&.pkmn052
			background-position -129px -641px
		&.pkmn053
			background-position -257px -641px
		&.pkmn054
			background-position -385px -641px
		&.pkmn055
			background-position -513px -641px
		&.pkmn056
			background-position -641px -641px
		&.pkmn057
			background-position -769px -641px
		&.pkmn058
			background-position -897px -641px
		&.pkmn059
			background-position -1025px -641px
		&.pkmn060
			background-position -1153px -641px
		&.pkmn061
			background-position -1px -769px
		&.pkmn062
			background-position -129px -769px
		&.pkmn063
			background-position -257px -769px
		&.pkmn064
			background-position -385px -769px
		&.pkmn065
			background-position -513px -769px
		&.pkmn066
			background-position -641px -769px
		&.pkmn067
			background-position -769px -769px
		&.pkmn068
			background-position -897px -769px
		&.pkmn069
			background-position -1025px -769px
		&.pkmn070
			background-position -1153px -769px
		&.pkmn071
			background-position -1px -897px
		&.pkmn072
			background-position -129px -897px
		&.pkmn073
			background-position -257px -897px
		&.pkmn074
			background-position -385px -897px
		&.pkmn075
			background-position -513px -897px
		&.pkmn076
			background-position -641px -897px
		&.pkmn077
			background-position -769px -897px
		&.pkmn078
			background-position -897px -897px
		&.pkmn079
			background-position -1025px -897px
		&.pkmn080
			background-position -1153px -897px
		&.pkmn081
			background-position -1px -1025px
		&.pkmn082
			background-position -129px -1025px
		&.pkmn083
			background-position -257px -1025px
		&.pkmn084
			background-position -385px -1025px
		&.pkmn085
			background-position -513px -1025px
		&.pkmn086
			background-position -641px -1025px
		&.pkmn087
			background-position -769px -1025px
		&.pkmn088
			background-position -897px -1025px
		&.pkmn089
			background-position -1025px -1025px
		&.pkmn090
			background-position -1153px -1025px
		&.pkmn091
			background-position -1px -1153px
		&.pkmn092
			background-position -129px -1153px
		&.pkmn093
			background-position -257px -1153px
		&.pkmn094
			background-position -385px -1153px
		&.pkmn095
			background-position -513px -1153px
		&.pkmn096
			background-position -641px -1153px
		&.pkmn097
			background-position -769px -1153px
		&.pkmn098
			background-position -897px -1153px
		&.pkmn099
			background-position -1025px -1153px
		&.pkmn100
			background-position -1153px -1153px
		&.pkmn101
			background-position -1px -1281px
		&.pkmn102
			background-position -129px -1281px
		&.pkmn103
			background-position -257px -1281px
		&.pkmn104
			background-position -385px -1281px
		&.pkmn105
			background-position -513px -1281px
		&.pkmn106
			background-position -641px -1281px
		&.pkmn107
			background-position -769px -1281px
		&.pkmn108
			background-position -897px -1281px
		&.pkmn109
			background-position -1025px -1281px
		&.pkmn110
			background-position -1153px -1281px
		&.pkmn111
			background-position -1px -1409px
		&.pkmn112
			background-position -129px -1409px
		&.pkmn113
			background-position -257px -1409px
		&.pkmn114
			background-position -385px -1409px
		&.pkmn115
			background-position -513px -1409px
		&.pkmn116
			background-position -641px -1409px
		&.pkmn117
			background-position -769px -1409px
		&.pkmn118
			background-position -897px -1409px
		&.pkmn119
			background-position -1025px -1409px
		&.pkmn120
			background-position -1153px -1409px
		&.pkmn121
			background-position -1px -1537px
		&.pkmn122
			background-position -129px -1537px
		&.pkmn123
			background-position -257px -1537px
		&.pkmn124
			background-position -385px -1537px
		&.pkmn125
			background-position -513px -1537px
		&.pkmn126
			background-position -641px -1537px
		&.pkmn127
			background-position -769px -1537px
		&.pkmn128
			background-position -897px -1537px
		&.pkmn129
			background-position -1025px -1537px
		&.pkmn130
			background-position -1153px -1537px
		&.pkmn131
			background-position -1px -1665px
		&.pkmn132
			background-position -129px -1665px
		&.pkmn133
			background-position -257px -1665px
		&.pkmn134
			background-position -385px -1665px
		&.pkmn135
			background-position -513px -1665px
		&.pkmn136
			background-position -641px -1665px
		&.pkmn137
			background-position -769px -1665px
		&.pkmn138
			background-position -897px -1665px
		&.pkmn139
			background-position -1025px -1665px
		&.pkmn140
			background-position -1153px -1665px
		&.pkmn141
			background-position -1px -1793px
		&.pkmn142
			background-position -129px -1793px
		&.pkmn143
			background-position -257px -1793px
		&.pkmn144
			background-position -385px -1793px
		&.pkmn145
			background-position -513px -1793px
		&.pkmn146
			background-position -641px -1793px
		&.pkmn147
			background-position -769px -1793px
		&.pkmn148
			background-position -897px -1793px
		&.pkmn149
			background-position -1025px -1793px
		&.pkmn150
			background-position -1153px -1793px
		&.pkmn151
			background-position -1px -1921px