.pokemon
	.image
		background-image url("/images/pokemons.png")
		width 80px
		height 80px
		&.pkmn001
			background-position -1px -1px
		&.pkmn002
			background-position -82px -1px
		&.pkmn003
			background-position -163px -1px
		&.pkmn004
			background-position -244px -1px
		&.pkmn005
			background-position -325px -1px
		&.pkmn006
			background-position -406px -1px
		&.pkmn007
			background-position -487px -1px
		&.pkmn008
			background-position -568px -1px
		&.pkmn009
			background-position -649px -1px
		&.pkmn010
			background-position -730px -1px
		&.pkmn011
			background-position -811px -1px
		&.pkmn012
			background-position -892px -1px
		&.pkmn013
			background-position -973px -1px
		&.pkmn014
			background-position -1054px -1px
		&.pkmn015
			background-position -1135px -1px
		&.pkmn016
			background-position -1216px -1px
		&.pkmn017
			background-position -1px -82px
		&.pkmn018
			background-position -82px -82px
		&.pkmn019
			background-position -163px -82px
		&.pkmn020
			background-position -244px -82px
		&.pkmn021
			background-position -325px -82px
		&.pkmn022
			background-position -406px -82px
		&.pkmn023
			background-position -487px -82px
		&.pkmn024
			background-position -568px -82px
		&.pkmn025
			background-position -649px -82px
		&.pkmn026
			background-position -730px -82px
		&.pkmn027
			background-position -811px -82px
		&.pkmn028
			background-position -892px -82px
		&.pkmn029
			background-position -973px -82px
		&.pkmn030
			background-position -1054px -82px
		&.pkmn031
			background-position -1135px -82px
		&.pkmn032
			background-position -1216px -82px
		&.pkmn033
			background-position -1px -163px
		&.pkmn034
			background-position -82px -163px
		&.pkmn035
			background-position -163px -163px
		&.pkmn036
			background-position -244px -163px
		&.pkmn037
			background-position -325px -163px
		&.pkmn038
			background-position -406px -163px
		&.pkmn039
			background-position -487px -163px
		&.pkmn040
			background-position -568px -163px
		&.pkmn041
			background-position -649px -163px
		&.pkmn042
			background-position -730px -163px
		&.pkmn043
			background-position -811px -163px
		&.pkmn044
			background-position -892px -163px
		&.pkmn045
			background-position -973px -163px
		&.pkmn046
			background-position -1054px -163px
		&.pkmn047
			background-position -1135px -163px
		&.pkmn048
			background-position -1216px -163px
		&.pkmn049
			background-position -1px -244px
		&.pkmn050
			background-position -82px -244px
		&.pkmn051
			background-position -163px -244px
		&.pkmn052
			background-position -244px -244px
		&.pkmn053
			background-position -325px -244px
		&.pkmn054
			background-position -406px -244px
		&.pkmn055
			background-position -487px -244px
		&.pkmn056
			background-position -568px -244px
		&.pkmn057
			background-position -649px -244px
		&.pkmn058
			background-position -730px -244px
		&.pkmn059
			background-position -811px -244px
		&.pkmn060
			background-position -892px -244px
		&.pkmn061
			background-position -973px -244px
		&.pkmn062
			background-position -1054px -244px
		&.pkmn063
			background-position -1135px -244px
		&.pkmn064
			background-position -1216px -244px
		&.pkmn065
			background-position -1px -325px
		&.pkmn066
			background-position -82px -325px
		&.pkmn067
			background-position -163px -325px
		&.pkmn068
			background-position -244px -325px
		&.pkmn069
			background-position -325px -325px
		&.pkmn070
			background-position -406px -325px
		&.pkmn071
			background-position -487px -325px
		&.pkmn072
			background-position -568px -325px
		&.pkmn073
			background-position -649px -325px
		&.pkmn074
			background-position -730px -325px
		&.pkmn075
			background-position -811px -325px
		&.pkmn076
			background-position -892px -325px
		&.pkmn077
			background-position -973px -325px
		&.pkmn078
			background-position -1054px -325px
		&.pkmn079
			background-position -1135px -325px
		&.pkmn080
			background-position -1216px -325px
		&.pkmn081
			background-position -1px -406px
		&.pkmn082
			background-position -82px -406px
		&.pkmn083
			background-position -163px -406px
		&.pkmn084
			background-position -244px -406px
		&.pkmn085
			background-position -325px -406px
		&.pkmn086
			background-position -406px -406px
		&.pkmn087
			background-position -487px -406px
		&.pkmn088
			background-position -568px -406px
		&.pkmn089
			background-position -649px -406px
		&.pkmn090
			background-position -730px -406px
		&.pkmn091
			background-position -811px -406px
		&.pkmn092
			background-position -892px -406px
		&.pkmn093
			background-position -973px -406px
		&.pkmn094
			background-position -1054px -406px
		&.pkmn095
			background-position -1135px -406px
		&.pkmn096
			background-position -1216px -406px
		&.pkmn097
			background-position -1px -487px
		&.pkmn098
			background-position -82px -487px
		&.pkmn099
			background-position -163px -487px
		&.pkmn100
			background-position -244px -487px
		&.pkmn101
			background-position -325px -487px
		&.pkmn102
			background-position -406px -487px
		&.pkmn103
			background-position -487px -487px
		&.pkmn104
			background-position -568px -487px
		&.pkmn105
			background-position -649px -487px
		&.pkmn106
			background-position -730px -487px
		&.pkmn107
			background-position -811px -487px
		&.pkmn108
			background-position -892px -487px
		&.pkmn109
			background-position -973px -487px
		&.pkmn110
			background-position -1054px -487px
		&.pkmn111
			background-position -1135px -487px
		&.pkmn112
			background-position -1216px -487px
		&.pkmn113
			background-position -1px -568px
		&.pkmn114
			background-position -82px -568px
		&.pkmn115
			background-position -163px -568px
		&.pkmn116
			background-position -244px -568px
		&.pkmn117
			background-position -325px -568px
		&.pkmn118
			background-position -406px -568px
		&.pkmn119
			background-position -487px -568px
		&.pkmn120
			background-position -568px -568px
		&.pkmn121
			background-position -649px -568px
		&.pkmn122
			background-position -730px -568px
		&.pkmn123
			background-position -811px -568px
		&.pkmn124
			background-position -892px -568px
		&.pkmn125
			background-position -973px -568px
		&.pkmn126
			background-position -1054px -568px
		&.pkmn127
			background-position -1135px -568px
		&.pkmn128
			background-position -1216px -568px
		&.pkmn129
			background-position -1px -649px
		&.pkmn130
			background-position -82px -649px
		&.pkmn131
			background-position -163px -649px
		&.pkmn132
			background-position -244px -649px
		&.pkmn133
			background-position -325px -649px
		&.pkmn134
			background-position -406px -649px
		&.pkmn135
			background-position -487px -649px
		&.pkmn136
			background-position -568px -649px
		&.pkmn137
			background-position -649px -649px
		&.pkmn138
			background-position -730px -649px
		&.pkmn139
			background-position -811px -649px
		&.pkmn140
			background-position -892px -649px
		&.pkmn141
			background-position -973px -649px
		&.pkmn142
			background-position -1054px -649px
		&.pkmn143
			background-position -1135px -649px
		&.pkmn144
			background-position -1216px -649px
		&.pkmn145
			background-position -1px -730px
		&.pkmn146
			background-position -82px -730px
		&.pkmn147
			background-position -163px -730px
		&.pkmn148
			background-position -244px -730px
		&.pkmn149
			background-position -325px -730px
		&.pkmn150
			background-position -406px -730px
		&.pkmn151
			background-position -487px -730px